@import '@sparkpost/styles/src/assets/scss/shared/config';
@import '@sparkpost/styles/src/assets/scss/shared/functions';

@import 'settings';
@import 'foundation-emails/scss/foundation-emails';

@import 'typography';
// https://www.campaignmonitor.com/css/

body {
  background-color: grayscale(9);
  font-family: Helvetica, Arial, sans-serif;
}

hr {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid grayscale(8);
  margin-bottom: $global-gutter;
}

.panel {
  background-color: grayscale(10);
  border: 1px solid grayscale(8);

  padding-top: $global-gutter * 2;
  padding-bottom: $global-gutter * 2;
  padding-left: $global-gutter * 2;
  padding-right: $global-gutter * 2;

  // Not fully supported
  box-shadow: 0px 5px 10px rgba(#333333, 0.1)
}

.paddingTB {
  padding-top: $global-gutter;
  padding-bottom: $global-gutter;
}

.footer {
  h6, p {
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 0;
    Margin: 0;
    color: grayscale(4);
  }

  p {
    font-size: 13px;
  }
}
