{% extends "layouts/main.html" %}

{% block title %}Welcome{% endblock %}
{% block content %}
<table class="row">
  <tbody>
    <tr>
      <th class="columns first last">
        <table>
          <tr>
            <th class="panel">
              <h1>Start Sending Emails in Minutes</h1>

              <p>Thank you for signing up with SparkPost! We’re excited to have you on-board.</p>

              <p>First things first, please <a href="">confirm your email address</a> to ensure continued access to your account and to extend your daily sending limit.</p>

              <center>
                <table class="button float-center">
                  <tr>
                    <td class="paddingTB">
                      <table>
                        <tr>
                          <td><a href="#">Confirm Your Email Address</a></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </center>

              <hr>

              <p>Once your account is set up don’t forget to create your suppression list - including accounts who are migrating from a previous email provider. For more information view our support article on <a href="">Suppression Lists</a>.</p>

              <p>Please note that only one free account is permitted per individual or business.</p>

              <p>If you'd like more information on how to get started, check out our <a>support site</a>, visit our <a>developer hub</a>, or message us on our community <a href="">Slack channel</a>.</p>

              {% include "includes/spacer.html" %}

              <p>Happy Delivering,<br />The SparkPost Team</p>

            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </tr>
  </tbody>
</table>
{% endblock %}
